.Rproj.user
.Rhistory
.RData
.Ruserdata
ressource/
data/
output/
postdoc_MAPP.Rproj
*.gexf
hmsc/
*.rds
*.RData
Figures/
*hmsc-venv/
R_scripts/paper_16s/Hmsc_pipeline/models/*
R_scripts/paper_16s/Hmsc_pipeline/results/*
*.pptx
R_scripts/paper_16s/Hmsc_pipeline/picrust2/
R_scripts/paper_16s/Hmsc_pipeline/frogs_input/