.Rproj.user
.Rhistory
.RData
.Ruserdata
ressource/
data/
output/
postdoc_MAPP.Rproj
*.gexf
hmsc/
*.rds
*.RData
Figures/
*hmsc-venv/
R_scripts/paper_16s/Hmsc_pipeline/models/*
R_scripts/paper_16s/Hmsc_pipeline/results/*
*.pptx
R_scripts/paper_16s/picrust2/
R_scripts/paper_16s/frogs_input/
R_scripts/paper_16s/outputs/
picrust2/
*.csv
*.png
*.svg
*.docx
*.gephi